<!-- This is the employer navigation bar that is found at the top of each employer page -->


<div class="col-lg-2
			col-md-2"></div>
			
<div class="bs-component;
			col-lg-8
			col-md-8
			col-sm-12
			col-xs-12">
	
	<ul class="nav nav-tabs">
		<!--If the user that logged in is an employer, display the employer navbar-->
		{% if role == 'employer' %}{% for menuItem in navBarConfig['employerMenu'] %}
	    <li><a href="{{menuItem['link']}}">{{menuItem['title']}}</a></li>
	    {% endfor %}{% endif %}
	    <!--If the user that logged in is a student, display the student navbar-->
	    {% if role == 'student' %}{% for menuItem in navBarConfig['studentMenu'] %}
	    <li><a href="{{menuItem['link']}}">{{menuItem['title']}}</a></li>
	    {% endfor %}{% endif %}
	    <!--If the user that logged in is an admin, display the admin navbar-->
	    {% if role == 'admin' %}{% for menuItem in navBarConfig['adminMenu'] %}
	    <li><a href="{{menuItem['link']}}">{{menuItem['title']}}</a></li>
	    {% endfor %}{% endif %}
    </ul>
</div>

<div class="col-lg-12
			col-md-12
			col-sm-12
			col-xs-12"><br><br></div>

