{% extends "base.html" %}

{% block body %}
{% include "navBar.html" %}

<style>
db-data {
    position:fixed;
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
} 
</style>


<h2>Edit {{ entry.title_of_position }}</h2>


 <form method="POST" action=" ">
   <div class="col-xs-12 col-md-10 form-group">
       {% for field in form %}
           <div class=" db-data; col-md-4"><p>{{field.label}}</p><br> <p>{{field}}</p></div>
       {% endfor %}
    <br/>
      <button type="submit" class="btn btn-success" value=submit >SAVE</button>
      <a href="{{url_for('employerInternships') }}" class = "btn btn-success">BACK</a>
    
   
   </div>
 </form>
     
<script type="text/jquery">
    if (window.navigator.userAgent.substring(0,7) == "Mozilla") {
        $("test").type = "text"; 
    }
</script> 

     
     

{% endblock %}
