{% extends "base.html" %}

{% block body %}

{% include "navBar.html" %}

<div align = "center">
<h1>Berea College Internship Posting Form</h1>
<em>Please type your reponses in the boxes; fields will expand as needed.</em>
</div>

<div align="center">
 
 {% from "_formhelpers.html" import render_field %}
 <form id = "theForm" method='POST' action="">
 <dl>
    {{ render_field(form.supervisor_name) }}
    {{ render_field(form.supervisor_phone) }}
    {{ render_field(form.supervisor_email) }}
    {{ render_field(form.title_of_position) }}
    {{ render_field(form.description_of_position) }}
    {{ render_field(form.location_of_internship) }}
    {{ render_field(form.requirements) }}
    {{ render_field(form.class_levels_considered) }}
    {{ render_field(form.majors_considered) }}
    {{ render_field(form.deadline) }}
    {{ render_field(form.duration_of_internship) }}
    {{ render_field(form.start_date) }}
    {{ render_field(form.hourly_rate) }}
    {{ render_field(form.compensation) }}
    {{ render_field(form.other_stipend) }}
  </dl>
  <input id="save" class='btn btn-primary' type="submit" name="save_button" onClick="onSubmit(this)" value="SAVE"/>
  <input id="submit" class="btn btn-submit btn-success" type="submit" name="submit_button" onClick="onSubmit(this)" value="SUBMIT"/>
</form>
</div>

<script type="text/javascript"> 

function onSubmit(clicked_button)
{
   console.log("Clicked this: " + clicked_button.id);
   $("#theForm").attr("action", "adminCreate/" + clicked_button.id);
   $("#theForm").submit();
}

</script>


{% endblock %}