<!doctype html>
<html lang=en>
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include "snips/css.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{config.application['title']}}</title>
    
  </head>
  
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
      
    <br/><br/>
    <div class="col-lg-4
    			col-md-4
    			col-sm-1"></div>
    
    <div style="background:#6CB1FF;
                border-radius: 88px 20px 124px 20px;
                -moz-border-radius: 88px 20px 124px 20px;
                -webkit-border-radius: 88px 20px 124px 20px;
                border: 5px outset #aeb9e8;
                -webkit-box-shadow: 4px 10px 13px -1px ;
                -moz-box-shadow: 4px 10px 13px -1px ;
                box-shadow: 4px 10px 13px -1px ;"
         align= "center"
         class="col-lg-4 col-offset-3;
                col-md-6 col-offset-3;
                col-sm-6"><br>
        
        <div class="col-lg-1
    			    col-md-1
    			    col-sm-1
    			    col-xs-1"></div>
    
        <!-- This is the div for the Title of the login object-->
        <div style="background: #FFFFFF;
                    border-radius: 88px 20px 120px 20px"
             align="center"
             class="col-lg-5;
                    col-md-5;
                    col-sm-10
                    col-xs-10">
            <img src="http://www.aikcu.org/wp-content/uploads/2011/07/BereaLogo.png" alt="" width="225" height="225"/>
            <h1>Go Intern: Login</h1><br/>
        </div>
        
        <div class="col-lg-12;
                    col-md-12;
                    col-sm-12;
                    col-xs-12"><br/></div>
    
        <div align="center">
            <form class="form-inline" role="form" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div style="background: #6CB1FF" class="input-group-addon">Email Address</div>
                        <input class="form-control" id="email" name="email" type="email" required>
                    </div>
                </div><br/><br/>
                <button class="btn btn-primary" type="submit">Login or register</button>
            </form>
        </div><br/>
    <div class="col-lg-4
    			col-md-4
    			col-sm-4"></div>
    </div>

      {% include "snips/footer-js.html" %}
      
  </body>
</html>

