{% extends "base.html" %}

{% block body %}


<div class="col-sm-4"></div>
<div class="container">
  {% from "_formhelpers.html" import render_field %}
    
  <div class="form-control">NEW HERE? Register as:</div>
  
  <form>
      <input name="form_select" id="employerButton" value="Employer" type="radio"  onclick="displayForm(this)">New Employer<br/>
      <input name="form_select" id="studentButton" value="Student" type="radio"  onclick="displayForm(this)">New Student <br<br/>
  </form>
  
  <div style="visibility:hidden; position:relative" id="newEmployer">
      <form method="POST">
         <table>
          <tr>
            <td>{{ render_field(employerForm.organization_name) }}</td>
            <td>{{ render_field(employerForm.web_address) }}</td>
          </tr>
          <tr>
            <td>{{ render_field(employerForm.physical_address) }}</td>
            <td>{{ render_field(employerForm.username) }}</td>
          </tr>
          <tr>
            <td>{{ render_field(employerForm.organization_type) }}</td>
            <td>{{ render_field(employerForm.organization_description) }}</td>
          </tr>
        </table>
         <input class="btn btn-success" type="submit" value="Register">
      </form>
  </div> 
  
  <div style="visibility:hidden; position:relative" id="newStudent">
      <form method="POST" >
         <table>
          <tr>
            <td>{{ render_field(studentForm.first_name) }}</td>
            <td>{{ render_field(studentForm.last_name) }}</td>
          </tr>
          <tr>
            <td label="Use your Berea Username">
                {{ render_field(studentForm.username) }}</td>
            <td>{{ render_field(studentForm.class_level) }}</td>
          </tr>
          <tr>
            <td>{{ render_field(studentForm.international_status) }}</td>
          </tr>
        </table>
         <input class="btn btn-success" type="submit" value="Register">
      </form>
  </div>
  
</div>


<script type="text/javascript">

  function displayForm(register) 
  {
    if(register.value == "Employer") {
      document.getElementById("newEmployer").style.visibility = 'visible';
      document.getElementById("newStudent").style.visibility = 'hidden';
      document.getElementById('newEmployer').style.position='absolute';
    }else if(register.value == "Student") {
      document.getElementById("newEmployer").style.visibility = 'hidden';
      document.getElementById('newEmployer').style.position='absolute';
      document.getElementById("newStudent").style.visibility = 'visible';
    }
  }
</script>
  

{% endblock %}
  