{% extends "base.html" %}

{% block body %}


<div>
  <strong>FIXME</strong>: It serves the route <strong style="color: red;">/url</strong>.
  
  <a href="{{trialUrl}}">Link</a>
  <h1>{{username}}</h1>

</div>

{% endblock %}
