{% extends "base.html" %}

{% block body %}

{% include "navBar.html" %}

<div align='center'>
  <h1><strong style="color: red;"> Students' View </strong></h1>
</div>
<br/>

<table class="table">
<thead>
  <tr>
    <th>Title of Internship</th>
    <th>Description  of Position</th>
    <th>Location of Internship</th>
    <th>Deadline</th>
  </tr>
</thead>
<tbody>
<h3 align = "center">Existing Internship Postings</h3>
<br/>
{% for post in posting %}
  <tr style="cursor: pointer;" onclick="window.location.href='/internshipDetails/{{post.iid}}'">
    <td>{{post.title_of_position}}</td>
    <td>{{post.description_of_position}}</td>
    <td>{{post.location_of_internship}}</td>
    <td>{{post.deadline}}</td>
  </tr>
{% endfor %}
</tbody>
</table>



{% endblock %}
