{% extends "base.html" %}

{% block body %}
{% include "navBar.html" %}

<h2> Viewing {{ entry.title_of_position }}</h2>
       
     <form>
       <div class="col-xs-12 col-md-6 form-group">
         {% for title in config["internship"] %}
             <label>{{title["title"]}}</label>
             {% if title["title"] == "Deadline"%}
               <input type = "date" class="form-control" name="{{entry[title["dbField"]]}}" value = "{{entry[title["dbField"]]}}"></input>
             {% else %}
             <input class="form-control" name="{{entry[title["dbField"]]}}" value = "{{entry[title["dbField"]]}}"></input>
             {% endif %}
         {% endfor%}
       </div> 
     </form>
     <script type="text/jquery">
      if (window.navigator.userAgent.substring(0,7) == "Mozilla") {
        $("test").type = "text"; 
      }
     </script> 
     
       {#
       <th>Position Title:</th>
         <td>{{entry.title_of_position}}</td>
      <th>Deadline:</th>
         <td>{{entry.deadline}}</td>
      </tr>
      <tr>
       <th>Desription of internship:</th>
         <td>{{entry.description_of_position}}</td>
      <th>Start Date:</th>
         <td>{{entry.start_date}}</td>
      </tr>
      <tr>
       <th>Desription of internship:</th>
         <td>{{entry.description_of_position}}</td>
      <th>Start Date:</th>
         <td>{{entry.start_date}}</td>
      </tr>
      <tr>
       <th>Desription of internship:</th>
         <td>{{entry.description_of_position}}</td>
      <th>Start Date:</th>
         <td>{{entry.start_date}}</td>
       #}
      
      
      
      <a href = "{{url_for('studentInternshipSearch') }}"><button class = "btn-success">Back</button></a>
  
    
{% endblock %}
